<div class="col-md-6 col-md-offset-3">
  <div ng-controller="CarFormController">
    <md-content layout-padding>
      <form name="carForm">
        <md-input-container flex>
          <label>Name</label>
          <input required name="name" type="text" ng-model="car.name">
          <div ng-messages="carForm.name.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <div layout layout-sm="column">
          <md-input-container flex>
            <label>Make</label> 
            <input required name="make" type="text" ng-model="car.make">
            <div ng-messages="carForm.make.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>Model</label> 
            <input required name="model" type="text" ng-model="car.model">
            <div ng-messages="carForm.model.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </div>
        
        <md-input-container flex>
          <label>Engine</label>
          <input required name="engine" type="text" ng-model="car.engine">
          <div ng-messages="carForm.engine.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <div layout layout-sm="column">
          <md-input-container flex>
            <label>Exterior</label> 
            <input required name="exterior" type="text" ng-model="car.exterior">
            <div ng-messages="carForm.exterior.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>Interior</label> 
            <input required name="interior" type="text" ng-model="car.interior">
            <div ng-messages="carForm.interior.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </div>

        <div layout layout-sm="column">
          <md-input-container style="width:25%">
            <label>Delivery KMs</label> 
            <input required name="delivery_kms" type="text" ng-model="car.delivery_kms">
            <div ng-messages="carForm.delivery_kms.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container style="width:25%">
            <label>Stock #</label> 
            <input required name="stock_num" type="text" ng-model="car.stock_num">
            <div ng-messages="carForm.stock_num.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container style="width:50%">
            <label>Base MSRP</label> 
            <input required name="msrp" ng-model="car.msrp">
            <div ng-messages="carForm.msrp.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </div>

        <md-input-container flex>
          <label>Vehicle Options & Delivery Fees:</label>
          <textarea ng-model="car.additional_fees" columns="1"></textarea>
        </md-input-container>

        <div layout layout-sm="column">
          <md-input-container flex>
            <label>MSRP Subtotal</label> 
            <input required name="base_price" ng-model="car.base_price">
            <div ng-messages="carForm.base_price.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>Price Over</label> 
            <input required name="price_over" ng-model="car.price_over">
            <div ng-messages="carForm.price_over.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </div>

        <md-button class="md-raised" ng-click="reset()">Reset</md-button>
        <md-button class="md-raised md-primary" ng-click="commit(car)">Save</md-button>
      </form>
    </md-content>
  </div>
</div>