<div class="col-md-10 col-md-offset-1">
  <div ng-controller="UserInfoController">
    <div ng=show="$routeParams.id != 0">
      <h1>
        {{userInfo.first_name}}
        {{userInfo.last_name}}
        here's your inventory:
      </h1>
    </div>
    <div>
    	<ul ng-show="userCars.length > 0">
     	  <md-card ng-repeat="car in userCars[0]">
          <h1>{{car.name}}</h1>
          <div layout="column">
            <h2 class="text-right" ng-if="car.status == 1">Ordered</h2>
            <h2 class="text-right" ng-if="car.status == 2">In Progress</h2>
            <h2 class="text-right" ng-if="car.status == 3">Ready for Pickup</h2>
            <h2 class="text-right" ng-if="car.status == 4">Shipped</h2>
          </div>

          <md-card-content layout="row" layout-margin>
            <div flex flex-order="1">
              <b>Name:</b> {{ car.name }}
              <b>Make:</b> {{ car.make }}
              <b>Model:</b> {{ car.model }}
            </div>

            <div flex flex-order="2">
              <b>Engine:</b> {{ car.engine }}
              <b>Exterior:</b> {{ car.exterior }}
              <b>Interior:</b> {{ car.interior }}
            </div>

            <div flex flex-order="3">
              <b>Delivery KMs:</b> {{ car.delivery_kms }}
              <b>Stock #:</b> {{ car.stock_num }}
              <b>MSRP:</b> {{ car.msrp | currency:"CAD$"}}
            </div>
          </md-card-content>
          <div class="md-actions text-right" layout="row" layout-align="end center">
            <md-button><a href="#car/{{car.id}}">Details</a></md-button>
          </div>

        </md-card>
    	</ul>
  	  <p ng-show="userCars.length == 0">No Cars</p>
    </div>
  </div>
</div>