<style>
  body {
    padding-top: 0px;
    background-image: url(http://demo.geekslabs.com/materialize/v2.1/layout01/images/user-profile-bg.jpg);
  }
  .sign-in-form {
    position: fixed;
    top: 25%;
  }
  .sign-in-form h2 {
    color: white;
  }
  .sign-in-form .md-label {
    color: white;
  }
  .sign-in-form md-content {
    background-color: transparent;
  }
</style>
<div class="sign-in-form col-md-2 col-md-offset-5" ng-controller="SignInController">
  <h2>Log in</h2>
  <md-content layout-padding>
    <form ng-submit="signIn()" name="userForm" novalidate>
      {{messages}}
      <md-input-container flex>
        <label>Email</label>
        <input type="email" ng-model="user.email">
      </md-input-container>
      <md-input-container flex>
        <label>Password</label>
        <input type="password" ng-model="user.password">
      </md-input-container>
      <md-checkbox ng-model="user.remember_me" aria-label="Remember me">
        <b>Remember me</b>
      </md-checkbox>
      <md-button type="submit" name="commit" class="md-raised md-primary">Log in</md-button>
    </form>
  </md-content>
</div>
