<div class="jumbotron text-center col-md-10 col-md-offset-1">
  <div ng-controller="DashboardController">
    <a href="/users/sign_up">Add User</a>
    <button>Edit</button>
  	<ul class="users">
  	  <li ng-repeat="user in users">
        {{user.first_name}}
        {{user.last_name}}
        <a href="#permission/{{user.id}}">Permissions</a>
        <a href="#inventory/{{user.id}}">Details</a>
        <button ng-click="removeUser(user.id)">Delete User</button>
        <p>Cars: {{user.cars.length}}</p>
        <ul class="cars">
          <li ng-repeat="car in user.cars">
            {{ car.name }}
            {{ car.make }}
            {{ car.model }}
            {{ car.engine }}
            {{ car.exterior }}
            {{ car.interior }}
            {{ car.delivery_kms }}
            {{ car.stock_num }}
            {{ car.msrp }}
            {{ car.additional_fees }}
            {{ car.base_price | currency:"CAD$"}}
            {{ car.base_price * tax | currency:"CAD$"}}
            {{ car.base_price * (1 + tax) | currency:"CAD$"}}
            <p>Change Staus<p>
            <button>Ordered</button>
            <button>In Progress</button>
            <button>Shipped</button>
          </li>
        </ul>
  	  </li>
  	</ul>
  	<div class="btn-group">
        <label class="btn btn-primary" ng-model="radioModel" btn-radio="All" ng-click="setup()" uncheckable>All</label>
        <label class="btn btn-primary" ng-model="radioModel" btn-radio="Ordered" ng-click="setup()" uncheckable>Ordered</label>
        <label class="btn btn-primary" ng-model="radioModel" btn-radio="InProgress" ng-click="setup()" uncheckable>In Progress</label>
        <label class="btn btn-primary" ng-model="radioModel" btn-radio="Shipped" ng-click="setup()" uncheckable>Shipped</label>
    </div>
  </div>
</div>