<div ng-controller="UserInfoController">
	<h1>Welcome back {{userInfo.first_name}}</h1>
	<div ng-show="current_user_permissions.hasOwnProperty('GeneralUsePrivilege')">
		<h2>Check My Status: </h2>
		<ul>
		  <li ng-repeat="car in userCars">
		  	<b>{{car.name}}:</b>
		  	<p ng-if="car.status == 1">Ordered</p>
		  	<p ng-if="car.status == 2">In Progress</p>
		  	<p ng-if="car.status == 3">Ready for Pickup</p>
		  </li>
		</ul>
	</div>
</div>