<div class="paper-collapse">
  <div ng-repeat="card in cards" class="collapse-card" ng-class="{ active: card.$active }">
    <div class="collapse-card__heading" ng-click="card.$active = !card.$active">
      <div class="collapse-card__title">
        {{ card.last_name }}, {{ card.first_name }}
        <a ng-show="current_user_permissions.hasOwnProperty('PermissionPrivilege')" href="#permission/{{card.id}}">Permissions</a>
        <a href="#inventory/{{card.id}}">Details</a>
        <button ng-show="current_user_permissions.hasOwnProperty('UserModifyPrivilege')" ng-click="removeUser(card.id)">Delete User</button>
        <p>Cars: {{card.cars.length}}</p>
      </div>
    </div>
    <div class="collapse-card__body">
      <ul ng-show="current_user_permissions.hasOwnProperty('QueryUserCarsPrivilege')" class="cars">
        <li ng-repeat="car in card.cars">
          {{ car.name }}
          {{ car.make }}
          {{ car.model }}
          {{ car.engine }}
          {{ car.exterior }}
          {{ car.interior }}
          {{ car.delivery_kms }}
          {{ car.stock_num }}
          {{ car.msrp }}
          {{ car.additional_fees }}
          {{ car.base_price | currency:"CAD$"}}
          {{ car.base_price * tax | currency:"CAD$"}}
          {{ car.base_price * (1 + tax) | currency:"CAD$"}}
          <p>Change Staus<p>
          <button>Ordered</button>
          <button>In Progress</button>
          <button>Shipped</button>
        </li>
      </ul>
    </div>
  </div>
</div>