<div class="text-center col-md-10 col-md-offset-1">
  <div ng-controller="PermissionController">
    <h1>User Permissions</h1>
    <ul>
    <li ng-repeat="userPermission in userPermissions">
      {{userPermission.name}}
      {{userPermission.description}}
      <button ng-click="removePermissionFromUserEvent(userPermission.id)">Remove</button>
    </li>
    </ul>
    <div ng-show="current_user_permissions.hasOwnProperty('ModifyUserPermissionPrivilege')">
      <h1>Add Permissions</h1>
      <ul>
      <li ng-repeat="permission in permissions">
        {{permission.name}}
        {{permission.description}}
        <button ng-click="addPermissionToUserEvent(permission.id)">Add</button>
      </li>
      </ul>
    </div>
    <div ng-show="current_user_permissions.hasOwnProperty('UserGroupPrivilege') || current_user_permissions.hasOwnProperty('ModifyUserPermissionPrivilege')">
      <h1>User Groups</h1>
      <ul>
      <li ng-repeat="userGroup in userGroups">
        {{userGroup.name}}
        {{userGroup.description}}
        <ul>
          <li ng-repeat="permission in userGroups.permissions">
            {{permission.name}}
            {{permission.description}}
          </li>
        </ul>
        <button ng-show="userGroup.status != 1" ng-click="addUserGroup(userGroup)">Add</button>
        <button ng-show="userGroup.status == 1" ng-click="removeUserGroup(userGroup)">Remove</button>
      </li>
      </ul>
    </div>
    <div ng-show="current_user_permissions.hasOwnProperty('ModifyUserPermissionPrivilege')">
      <button ng-click="reset()">Reset</button>
      <button ng-click="update()">Update</button>
    </div>
  </div>
</div>