<div class="jumbotron text-center col-md-10 col-md-offset-1">
  <div ng-controller="SearchController">
  <button>Add</button>
  <button>Edit</button>
  	<ul>
  	  <li ng-repeat="car in cars">
        {{car.name}}
        {{car.base_price}}
        <button>Edit</button>
        <button>Delete</button>
        <ul>
          <li>
            {{car.name}}
            {{car.base_price}}
            <button>Details</button>
          </li>
        </ul>
  	  </li>
  	</ul>
  	<div ng-if="" class="btn-group">
        <label class="btn btn-primary" ng-model="radioModel" btn-radio="Avaliable" ng-click="setup()" uncheckable>Avaliable</label>
        <label class="btn btn-primary" ng-model="radioModel" btn-radio="Ordered" ng-click="setup()" uncheckable>Ordered</label>
        <label class="btn btn-primary" ng-model="radioModel" btn-radio="InProgress" ng-click="setup()" uncheckable>In Progress</label>
        <label class="btn btn-primary" ng-model="radioModel" btn-radio="Shipped" ng-click="setup()" uncheckable>Shipped</label>
        <label class="btn btn-primary" ng-model="radioModel" btn-radio="All" ng-click="setup()" uncheckable>All</label>
    </div>
  </div>
</div>