<div class="jumbotron text-center col-md-10 col-md-offset-1">
  <div ng-controller="SearchController">
    <input type="text" ng-model="asyncSelected" placeholder="Search car: name model make stock#" typeahead="searchCars($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
    <div ng-show="noResults">
      <i class="glyphicon glyphicon-remove"></i> No Results Found
    </div>
    <button href="#car/edit/0">Add</button>
    <button>Edit</button>
  	<ul>
  	  <li ng-repeat="car in cars">
        {{car.name}}
        {{car.base_price}}
        <a href="#car/edit/{{car.id}}">Edit</a>
        <button>Delete</button>
        <div>
          {{ car.name }}
          {{ car.make }}
          {{ car.model }}
          {{ car.engine }}
          {{ car.exterior }}
          {{ car.interior }}
          {{ car.delivery_kms }}
          {{ car.stock_num }}
          {{ car.msrp }}
          <a href="#car/{{car.id}}">Details</a>
        </div>
  	  </li>
  	</ul>
  	<div ng-if="true" class="btn-group">
        <label class="btn btn-primary" ng-model="radioModel" btn-radio="Avaliable" ng-click="query()" uncheckable>Avaliable</label>
        <label class="btn btn-primary" ng-model="radioModel" btn-radio="Ordered" ng-click="query()" uncheckable>Ordered</label>
        <label class="btn btn-primary" ng-model="radioModel" btn-radio="InProgress" ng-click="query()" uncheckable>In Progress</label>
        <label class="btn btn-primary" ng-model="radioModel" btn-radio="Shipped" ng-click="query()" uncheckable>Shipped</label>
        <label class="btn btn-primary" ng-model="radioModel" btn-radio="All" ng-click="query()" uncheckable>All</label>
    </div>
  </div>
</div>